1. 평균팁
2. 요일별 평균 팁
3. 점심/저녁의 팁 평균
4. 흡연자의 비율
5. 성별 흡연 여부에 따른 흡연 평균
6. 총 결제금액을 기준으로 내림차순 정렬
7. 식당이 주에 몇일 영업하는지
8. 총 결제 금액을 3등분하여 'low', 'medium', 'high'으로 나누고 평균 팁
9. 총 결제 금액별 tip 평균

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
tips = sns.load_dataset('tips')

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
# 평균팁
tips.tip.mean()

2.9982786885245902

In [5]:
# 요일별 평균 팁
tips.groupby('day').tip.mean()

day
Thur    2.771452
Fri     2.734737
Sat     2.993103
Sun     3.255132
Name: tip, dtype: float64

In [6]:
# 점심/저녁의 팁 평균
tips.groupby('time').tip.mean()

time
Lunch     2.728088
Dinner    3.102670
Name: tip, dtype: float64

In [7]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
# 흡연자의 비율
tips.sex.value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [20]:
# 성별 흡연 여부에 따른 흡연 평균
tips.groupby(['sex','smoker']).count()

               total_bill  tip  day  time  size
sex    smoker
Male   Yes             60   60   60    60    60
       No              97   97   97    97    97
Female Yes             33   33   33    33    33
       No              54   54   54    54    54

In [22]:
# 총 결제금액을 기준으로 내림차순 정렬
tips.sort_values('total_bill', ascending=True)

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
149        7.51   2.00    Male     No  Thur   Lunch     2
..          ...    ...     ...    ...   ...     ...   ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3
156       48.17   5.00    Male     No   Sun  Dinner     6
59        48.27   6.73    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

In [24]:
# 식당이 주에 몇일 영업하는지
len(tips.day.unique())

4

In [28]:
# 총 결제 금액을 3등분하여 'low', 'medium', 'high'으로 나누고 평균 팁

In [36]:
tips['bill_category'] = pd.cut(tips['total_bill'], bins=3, labels=['low', 'medium', 'high'])
tips.groupby('bill_category').tip.mean()

bill_category
low       2.357429
medium    3.634432
high      5.106875
Name: tip, dtype: float64

In [37]:
# 총 결제 금액별 tip 평균
tips.groupby('total_bill').tip.mean()

total_bill
3.07      1.000
5.75      1.000
7.25      3.075
7.51      2.000
7.56      1.440
          ...
45.35     3.500
48.17     5.000
48.27     6.730
48.33     9.000
50.81    10.000
Name: tip, Length: 229, dtype: float64